[Unit]
Description=GPD Win 2 Dynamic Thermal Governor & Watchdog
After=multi-user.target nbfc_service.service nbfc.service
Wants=nbfc_service.service

[Service]
Type=simple
ExecStart=/usr/local/bin/gpd-win-2-governor
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
