[Unit]
Description=NoteBook FanControl service (nbfc-linux)
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/nbfc start
ExecStop=/usr/bin/nbfc stop
PIDFile=/run/nbfc_service.pid
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
